@page "/map"
@using Infragistics.Blazor.Controls;
@inject IInfragisticsBlazor InfragisticsBlazor;

<h1>Geographic Map</h1>

<GeographicMap Width="1000px" Height="800px">

</GeographicMap>

@code { 

    protected override void OnInitialized()
    {
        GeographicMapModule.Register(InfragisticsBlazor);
    }

}
