@page "/pie-chart"
@using Infragistics.Blazor.Controls;
@inject IInfragisticsBlazor InfragisticsBlazor;
@inject IgBlazorSamples.Data.Services.ChartItemService data;

<h1>Pie Chart</h1>

<PieChart Height="800px" Width="800px" DataSource="@data.MarketShare" LabelMemberPath="Label" ValueMemberPath="Value">

</PieChart>

@code
{
    protected override void OnInitialized()
    {
        PieChartModule.Register(InfragisticsBlazor);
    }
}